// 布局配置
// 参考配置来源：https://github.com/SHORiN-KiWATA/shorin-niri

layout {
    // 窗口和窗口之间的间距
    gaps 10

    // 切换聚焦时是否居中窗口
    // "never" - 默认行为，聚焦到屏幕外的列时会保持在屏幕左/右边缘
    // "always" - 聚焦的列总是居中
    // "on-overflow" - 如果不适合，会居中
    center-focused-column "never"

    // 预设窗口宽度
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // 默认的窗口宽度
    default-column-width { proportion 0.5; }

    // 聚焦窗口边框
    focus-ring {
        // 禁用聚焦环
        //off
        // 边框宽度
        width 2
        // 颜色在 colors.kdl 中设置
    }

    // 窗口边框
    border {
        // 禁用边框
        off
        width 4
        // 颜色在 colors.kdl 中设置
    }

    // 窗口阴影
    shadow {
        // 启用阴影
        on

        // 阴影模糊半径
        softness 20

        // 阴影扩展
        spread 2

        // 阴影偏移
        offset x=-4 y=-4

        // 阴影颜色和透明度
        color "rgba(0, 0, 0, 0.7)"
    }

    // 窗口距离屏幕边缘的距离
    struts {
        //left 64
        //right 64
        //top 64
        //bottom 64
    }
}

// Recent-windows 配置（Alt+Tab 切换器）
recent-windows {
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#343b38"
        urgent-color "#ffb4ab"
        // 缩略图背景内间距
        padding 30
        // 缩略图的背景圆角
        corner-radius 12
    }

    // 设置缩略图大小
    previews {
        max-height 480
        max-scale 0.2
    }

    binds {
        // scope可以设置显示的窗口是当前工作区的、还是当前显示器的、或者显示全部窗口
        Mod+Tab         { next-window scope="workspace"; }
        Mod+Shift+Tab   { previous-window scope="workspace"; }
        // grave是波浪键，显示当前应用的所有窗口
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

// Overview 总览配置
overview {
    workspace-shadow {
        //off
    }
    // 缩放
    zoom 1
}
